{% extends "base.html" %}
{% block title %}Referendum{% endblock %}
{% block extra %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='homeStyle.css')}}">
{% endblock %}


{% block pageContent %}
<!--Barra About-Account-->
<div class="barra">
    <button name="about" class="btn1">About</button>
    <button name="account" class="btn2">U</button><!--Va inserita la prima lettera del nome dell'account attivo-->
</div>
<!--Titolo in cima centrato-->
<h1 class="title">Referendum</h1>
<!--Linea separatoria-->
<hr class="separator"> 

<div>
<!--Referendum globali-->
<h2 class="intestation">Referendum globali</h2>

<!--Qui vanno inseriti con un for, mediante i db-->

<!--Miei referendum-->
<h2 class="intestation">I miei referendum</h2>

<!--Qui vanno inseriti i miei referendum-->

</div>
{% endblock %}