<!DOCTYPE html lang="en">
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% block extra %}{% endblock %}
    </head>

    <body>
        
        {% block pageContent %}
        {% endblock %}
        <div class="end">
            <p class="text">Referendum webapp. Make your question, vote, discover resoults</p>
        </div>
    </body>
</html>
