{% extends "base.html" %}
{% block title %}Referendum{% endblock %}
{% block extra %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='homeStyle.css')}}">
{% endblock %}


{% block pageContent %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<!--Barra About-Account-->
<div class="barra">
    <a class="activeU">{{ user.name[0] }}</a>
    <a class="out" href="/logout">Logout</a>
</div>
<!--Titolo in cima centrato-->
<h1 class="title">Referendum</h1>
<!--Linea separatoria-->
<hr class="separator"> 

<div>
<!--Referendum globali-->
<h2 class="intestation">Referendum globali</h2>
<div class="cont">
<!--Qui vanno inseriti con un for, mediante i db-->
{% for element in range(1,datas.count()+1) %}
    {% if datas.filter_by(id=element).first().user_name != user.name  %}
    <form method="post">
        <fieldset style="border:{% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}#f00 solid 2px {% else %}#00f solid 2px{% endif %};" class="fild"> 
            <legend>{{ datas.filter_by(id=element).first().question }}</legend>
            <br><br>
            {{ datas.filter_by(id=element).first().fAnsw }} <input type="radio" name="opt" value="fa{{ element }}"/>
            {% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}
            <progress value="{{datas.filter_by(id=element).first().fVote}}" max="{{datas.filter_by(id=element).first().fVote+datas.filter_by(id=element).first().sVote}}"></progress>
            {% endif %}
            {{ datas.filter_by(id=element).first().sAnsw }}<input type="radio" name="opt" value="sa{{ element }}"/>
            {% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}
            <progress value="{{datas.filter_by(id=element).first().sVote}}" max="{{datas.filter_by(id=element).first().fVote+datas.filter_by(id=element).first().sVote}}"></progress>
            {% endif %}
            <br><br>
            {% if '#'+user.name+'#' not in datas.filter_by(id=element).first().voters %}
            <button type="submit" id="ans">Conferma</button>
            {% endif %}
        </fieldset>
    </form>
    {% endif %}
{% endfor %}
</div>
<!---Fine inserimento-->

<!--Miei referendum-->
<h2 class="intestation">I miei referendum</h2>
<div class="cont">
<!--Qui vanno inseriti i miei referendum-->
{% for element in range(1,datas.count()+1) %}
    {% if datas.filter_by(id=element).first().user_name == user.name  %}
    <form method="post">
        <fieldset style="border:{% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}#f00 solid 2px {% else %}#00f solid 2px{% endif %};" class="fild"> 
            <legend>{{ datas.filter_by(id=element).first().question }}</legend>
            <br><br>
            {{ datas.filter_by(id=element).first().fAnsw }} <input type="radio" name="opt" value="fa{{ element }}"/>
            {% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}
            <progress value="{{datas.filter_by(id=element).first().fVote}}" max="{{datas.filter_by(id=element).first().fVote+datas.filter_by(id=element).first().sVote}}"></progress>
            {% endif %}
            {{ datas.filter_by(id=element).first().sAnsw }}<input type="radio" name="opt" value="sa{{ element }}"/>
            {% if '#'+user.name+'#' in datas.filter_by(id=element).first().voters %}
            <progress value="{{datas.filter_by(id=element).first().sVote}}" max="{{datas.filter_by(id=element).first().fVote+datas.filter_by(id=element).first().sVote}}"></progress>
            {% endif %}
            <br><br>
            {% if '#'+user.name+'#' not in datas.filter_by(id=element).first().voters %}
            <button type="submit" id="ans">Conferma</button>
            {% endif %}
        </fieldset>
    </form>
    {% endif %}
{% endfor %}
</div>
<!--Fine inserimento-->

</div>
<form action="{{ url_for('views.create') }}" class="formClass">
    <button  class="create" type="submit">ADD</button>
</form>
{% endblock %}